.heading {

    &--light &__main-heading {
        color: map-get($font-colors, 'light');    
    }

    &__main-heading {
        text-transform: uppercase;
        font-family: $montserrat;
        font-weight: 600;
    }

    &__sub-heading {
        color: $primary-accent;
        text-transform: uppercase;
        font-family: $montserrat;
        font-weight: 500;
        letter-spacing: 1rem;
    }
}